@model OregonNexus.Broker.Web.ViewModels.OutgoingRequests.CreateOutgoingRequestViewModel

<div class="space-y-10 divide-y divide-gray-900/10">
  <div class="px-4 sm:px-0">
    <div class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">
      <div class="px-4 py-6 sm:p-8 grid gap-8">
          <div class="grid gap-6 border-b border-gray-900/10 pb-8">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900">Student information</h2>
              <p class="mt-1 text-sm leading-6 text-gray-600">Basic information about the student being released.</p>
            </div>
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-6">
              <div class="sm:col-span-2">
                @Html.LabelFor(it => it.StudentUniqueId, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <input asp-for="StudentUniqueId" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="StudentUniqueId">@Html.ValidationMessageFor(m => m.StudentUniqueId)</p>
              </div>
              <div class="sm:col-span-2">
                @Html.LabelFor(it => it.Id, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <input asp-for="Id" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="Id">@Html.ValidationMessageFor(m => m.Id)</p>
              </div>
              <div class="sm:col-span-2">
                @Html.LabelFor(it => it.EdfiId, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <input asp-for="EdfiId" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="EdfiId">@Html.ValidationMessageFor(m => m.EdfiId)</p>
              </div>
              <div class="sm:col-span-2">
                @Html.LabelFor(it => it.EdfiStudentUniqueId, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <input asp-for="EdfiStudentUniqueId" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="EdfiStudentUniqueId">@Html.ValidationMessageFor(m => m.EdfiStudentUniqueId)</p>
              </div>
            </div>
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-6">
              <div class="sm:col-span-2">
                @Html.LabelFor(it => it.FirstName, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <input asp-for="FirstName" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="FirstName">@Html.ValidationMessageFor(m => m.FirstName)</p>
              </div>
              <div class="sm:col-span-2">
                @Html.LabelFor(it => it.MiddleName, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <input asp-for="MiddleName" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="MiddleName">@Html.ValidationMessageFor(m => m.MiddleName)</p>
              </div>
              <div class="sm:col-span-2">
                @Html.LabelFor(it => it.LastSurname, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <input asp-for="LastSurname" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="LastSurname">@Html.ValidationMessageFor(m => m.LastSurname)</p>
              </div>
            </div>
          </div>
          <div class="grid gap-6 border-b border-gray-900/10 pb-8">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900">Sending school information</h2>
              <p class="mt-1 text-sm leading-6 text-gray-600">Information about the student's releasing school.</p>
            </div>
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-6">
              <div class="sm:col-span-2">
                @Html.LabelFor(it => it.FromDistrict, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <input asp-for="FromDistrict" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="FromDistrict">@Html.ValidationMessageFor(m => m.FromDistrict)</p>
              </div>
              <div class="sm:col-span-2">
                @Html.LabelFor(it => it.FromSchool, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <input asp-for="FromSchool" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="FromSchool">@Html.ValidationMessageFor(m => m.FromSchool)</p>
              </div>
              <div class="sm:col-span-2">
                @Html.LabelFor(it => it.FromEmail, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <input asp-for="FromEmail" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="FromEmail">@Html.ValidationMessageFor(m => m.FromEmail)</p>
              </div>
            </div>
          </div>
          <div class="grid gap-6 border-b border-gray-900/10 pb-8">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900">Receiving school information</h2>
              <p class="mt-1 text-sm leading-6 text-gray-600">Information about the student's enrolling school.</p>
            </div>
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-6">
              <div class="sm:col-span-2">
                @Html.LabelFor(it => it.ToDistrict, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <input asp-for="ToDistrict" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="ToDistrict">@Html.ValidationMessageFor(m => m.ToDistrict)</p>
              </div>
              <div class="sm:col-span-2">
                @Html.LabelFor(it => it.ToSchool, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <input asp-for="ToSchool" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="ToSchool">@Html.ValidationMessageFor(m => m.ToSchool)</p>
              </div>
              <div class="sm:col-span-2">
                @Html.LabelFor(it => it.ToEmail, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <input asp-for="ToEmail" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="ToEmail">@Html.ValidationMessageFor(m => m.ToEmail)</p>
              </div>
            </div>
          </div>
          <div class="grid gap-6 pb-8">
            <div>
              <h2 class="text-base font-semibold leading-7 text-gray-900">Additional information</h2>
              <p class="mt-1 text-sm leading-6 text-gray-600">Additional information about the student's request.</p>
            </div>
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-6">
              <div class="sm:col-span-6">
                @Html.LabelFor(it => it.Note, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <textarea asp-for="Note" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6"></textarea>
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="Note">@Html.ValidationMessageFor(m => m.Note)</p>
              </div>
              <div class="sm:col-span-6">
                @Html.LabelFor(it => it.Files, new { @class = "block text-sm font-medium leading-6 text-gray-900" })
                <div class="mt-2">
                  <div class="flex items-center justify-center w-full">
                      <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
                          <div class="flex flex-col items-center justify-center pt-5 pb-6">
                              <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                              </svg>
                              <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                              <p class="text-xs text-gray-500">PDF, DOC, PNG or JPG (MAX. 2MB each)</p>
                          </div>
                          <input id="dropzone-file" type="file" class="hidden" />
                      </label>
                  </div> 
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="Files">@Html.ValidationMessageFor(m => m.Files)</p>
              </div>
            </div>
          </div>
      </div>
      <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
        <a
          asp-controller="Incoming"
          asp-action="Index"
          asp-authorize
          asp-policy="TransferRecords"
          class="text-sm font-semibold leading-6 text-gray-900"
        >
          Cancel
        </a>
        <input asp-for="RequestId" type="hidden" />
        <button type="submit" class="rounded-md bg-tertiary-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-tertiary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-tertiary-700">Save</button>
      </div>
    </div>
  </div>
</div>
