@model List<OregonNexus.Broker.Web.Models.OutgoingRequestViewModel>
@{
    // Copyright: 2023 Education Nexus Oregon
    // Author: Makoa Jacobsen, makoa@makoajacobsen.com
    ViewData["Title"] = "Outgoing Transfer Requests";
    Layout = "_AuthenticatedLayout";
    ViewData["FocusBar"] = true;
}

<div>
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Outgoing Requests</h1>
      <p class="mt-2 text-sm text-gray-700">Outgoing records transfer requests.</p>
    </div>
  </div>
  <div class="mt-8 flow-root overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-white">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">District</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">School</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Student</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white">
            @{ var even = true; }
            @foreach(var outgoingRequest in Model)
            {
            <tr class="@(even ? "bg-gray-50": "")">
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">@outgoingRequest.District</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@outgoingRequest.School</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@outgoingRequest.Student</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@outgoingRequest.Date</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                <span class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset">
                  @outgoingRequest.Status
                </span>
              </td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
              </td>
            </tr>
            even = !even;
            }
          </tbody>
        </table>
      </div>
    </div>
    <nav class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6" aria-label="Pagination">
      <div class="hidden sm:block">
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium">1</span>
          to
          <span class="font-medium">10</span>
          of
          <span class="font-medium">20</span>
          results
        </p>
      </div>
      <div class="flex flex-1 justify-between sm:justify-end">
        <a href="#" class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Previous</a>
        <a href="#" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Next</a>
      </div>
    </nav>
  </div>
</div>
